---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1544024767'
      Etag:
      - W/"2504797ff9dddfb4d834db98d2a5d35b"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"averimj","id":33760591,"node_id":"MDQ6VXNlcjMzNzYwNTkx","avatar_url":"https://avatars1.githubusercontent.com/u/33760591?v=4","gravatar_id":"","url":"https://api.github.com/users/averimj","html_url":"https://github.com/averimj","followers_url":"https://api.github.com/users/averimj/followers","following_url":"https://api.github.com/users/averimj/following{/other_user}","gists_url":"https://api.github.com/users/averimj/gists{/gist_id}","starred_url":"https://api.github.com/users/averimj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/averimj/subscriptions","organizations_url":"https://api.github.com/users/averimj/orgs","repos_url":"https://api.github.com/users/averimj/repos","events_url":"https://api.github.com/users/averimj/events{/privacy}","received_events_url":"https://api.github.com/users/averimj/received_events","type":"User","site_admin":false},{"login":"MaryBork","id":38509894,"node_id":"MDQ6VXNlcjM4NTA5ODk0","avatar_url":"https://avatars1.githubusercontent.com/u/38509894?v=4","gravatar_id":"","url":"https://api.github.com/users/MaryBork","html_url":"https://github.com/MaryBork","followers_url":"https://api.github.com/users/MaryBork/followers","following_url":"https://api.github.com/users/MaryBork/following{/other_user}","gists_url":"https://api.github.com/users/MaryBork/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1544024767'
      Etag:
      - W/"cb39e01d7499787d19357cd88f19177c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":154235706,"node_id":"MDEwOlJlcG9zaXRvcnkxNTQyMzU3MDY=","name":"little_shop","full_name":"Isaac-Falkenstine/little_shop","private":false,"owner":{"login":"Isaac-Falkenstine","id":41242161,"node_id":"MDQ6VXNlcjQxMjQyMTYx","avatar_url":"https://avatars2.githubusercontent.com/u/41242161?v=4","gravatar_id":"","url":"https://api.github.com/users/Isaac-Falkenstine","html_url":"https://github.com/Isaac-Falkenstine","followers_url":"https://api.github.com/users/Isaac-Falkenstine/followers","following_url":"https://api.github.com/users/Isaac-Falkenstine/following{/other_user}","gists_url":"https://api.github.com/users/Isaac-Falkenstine/gists{/gist_id}","starred_url":"https://api.github.com/users/Isaac-Falkenstine/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Isaac-Falkenstine/subscriptions","organizations_url":"https://api.github.com/users/Isaac-Falkenstine/orgs","repos_url":"https://api.github.com/users/Isaac-Falkenstine/repos","events_url":"https://api.github.com/users/Isaac-Falkenstine/events{/privacy}","received_events_url":"https://api.github.com/users/Isaac-Falkenstine/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Isaac-Falkenstine/little_shop","description":null,"fork":false,"url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop","forks_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/forks","keys_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/teams","hooks_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/hooks","issue_events_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/issues/events{/number}","events_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/events","assignees_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/assignees{/user}","branches_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/branches{/branch}","tags_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/tags","blobs_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/statuses/{sha}","languages_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/languages","stargazers_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/stargazers","contributors_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/contributors","subscribers_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/subscribers","subscription_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/subscription","commits_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/contents/{+path}","compare_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/merges","archive_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/downloads","issues_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/issues{/number}","pulls_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/pulls{/number}","milestones_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/milestones{/number}","notifications_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/labels{/name}","releases_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/releases{/id}","deployments_url":"https://api.github.com/repos/Isaac-Falkenstine/little_shop/deployments","created_at":"2018-10-23T00:30:12Z","updated_at":"2018-11-01T14:41:19Z","pushed_at":"2018-11-01T14:41:17Z","git_url":"git://github.com/Isaac-Falkenstine/little_shop.git","ssh_url":"git@github.com:Isaac-Falkenstine/little_shop.git","clone_url":"https://github.com/Isaac-Falkenstine/little_shop.git","svn_url":"https://github.com/Isaac-Falkenstine/little_shop","homepage":null,"size":4639,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"open_issues_count":26,"license":null,"forks":2,"open_issues":26,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":153942682,"node_id":"MDEwOlJlcG9zaXRvcnkxNTM5NDI2ODI=","name":"alien_chat","full_name":"LucasAlderfer/alien_chat","private":false,"owner":{"login":"LucasAlderfer","id":36676968,"node_id":"MDQ6VXNlcjM2Njc2OTY4","avatar_url":"https://avatars1.githubusercontent.com/u/36676968?v=4","gravatar_id":"","url":"https://api.github.com/users/LucasAlderfer","html_url":"https://github.com/LucasAlderfer","followers_url":"https://api.github.com/users/LucasAlderfer/followers","following_url":"https:[...]
